src/main/mule/hello-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="04e656da-d170-41ab-8134-462077366c32" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-muleFlow" doc:id="0d85a993-2fc5-430b-a357-7302d68fd2c4" >
		<http:listener doc:name="Listener" doc:id="7a5891f5-f98e-40cb-89df-12452a7f653a" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value='#["welcome to mule"]' doc:name="Set Payload" doc:id="6b29c85a-3d9c-446f-82b7-f47108771e54" />
	</flow>
</mule>
